<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>
<body>

    <h1>I am not Good Learner</h1>

    <h2>Addition = <%= 5+5%></h2>       <!-- <%= 5+5%> This is for dynamic routing -->

    <script src="/javascripts/script.js"></script>

</body>
</html>